@import 'https://fonts.googleapis.com/css?family=Roboto';
html, body {
	background-color: #000;
}
h2, a, p {
	color: #fff;
	
	text-decoration: none;
}
p>a {
	color: #fd084a;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
  color: #f3ca2f;
  
  font-size: 40px;
  padding: 0.1em;
}

/* Responsive CSS */

@media screen and (max-width: 450px) {
.header-sub-title {
  
  font-size: 30px;
  
}
}